streamlit
pandas
openai
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-core
langchain-text-splitters
sentence-transformers
feedparser
openpyxl
streamlit-lottie
pdfplumber
requests
fastapi
uvicorn
websockets>=15.0
websocket-client>=1.8.0
streamlit-echarts
plotly
beautifulsoup4
readability-lxml
trafilatura
newspaper3k