fastapi>=0.101.0
uvicorn==0.22.0
websockets>=15.0
pandas
numpy
python-multipart
requests
pydantic>=2.7.0
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-core
langchain-text-splitters
sentence-transformers
feedparser
openpyxl
beautifulsoup4
readability-lxml
trafilatura
newspaper3k
